@media  screen and (max-width:600px) {
   
    nav{
       
        margin-bottom: 0;
        justify-content: space-around;
        
    }
    .nav-style{
        font-size: 21px;    }
    ul li{
        display: none;
    }
    .hide{
        display: block;
    }
    .explor-title{
      padding: 32px 66px;
    font-size: 22px;
    text-align: center;
    }
    .explor-para{
        color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 14px;
    }
    .explor{
        width: 100%;
        margin: 30px auto;
        height: 483px;
        border-radius: 16px;
        background-position: center;
       
    }
   .shadow .mainSection{
    flex-direction: column;
   }
   .shadow input{
    height: 30px;
    outline: none;
    border-style: none;
    padding: 13px;
   }
   /* responsive end */




  
  }