@media  screen and (max-width:600px) {
   
    nav{
       
        margin-bottom: 0;
        justify-content: space-around;
        
    }
    .nav-style{
        font-size: 21px;    }
   nav ul li{
        display: none;
    }
    .hide{
        display: block;
    }
    .explor-title{
      padding: 32px 66px;
    font-size: 22px;
    text-align: center;
    }
    .explor-para{
        color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 14px;
    }
    .explor{
        width: 100%;
        margin: 30px auto;
        height: 483px;
        border-radius: 16px;
        background-position: center;
       
    }
   .shadow{
    flex-direction: column;
   }
   .shadow input{
    height: 30px;
    outline: none;
    border-style: none;
    padding: 13px;
   }
   /* responsive end */


.mainSection{
   flex-direction: column;
   padding: 20px;
  
}
.sectionHeadline{
    color: #131318;

font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.sectionPara{
color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.sectionList li{
  list-style: square;
}
.sideSection{
    padding-bottom:5px ;
}
.image img{
    width: 100%;
}

.sectionList{
    padding: 5px;
}
.sectionList li{
    margin-bottom: 0px;
  
}

/* new responsive section start */


.destination{
    text-align: center;
font-family: Mulish;
font-size: 20px;
}
.destinationPara{
    color: rgba(19, 19, 24, 0.70);

text-align: center;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.imagegrid img{
    width: 100%;
}
.imagegrid{
    margin: 0 2px;
}
.row1, .row2, .row3{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 16px;
}

/* new responsive section start */


.shap1 .shapHeading{
    color: #131318;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.shap1{
    padding: 30px;
}
.shap2{
    padding: 30px;
}
.shapPara{
    color: #5A5A5D;

font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}


/* new section responsive start */

.newslateContiner{
    flex-direction: column;
    margin: 23px 9px;
}
.newsLater{
    width: 100%;
    border: 1px solid #FF5400;
    margin-bottom: 10px;
    padding: 22px;
}
.btn-primary-widh{
    padding: 5px;
}
.newsLaterImage{
    width: 100%;
}
.discount{
    width: 214.023px;
height: 79.268px;
transform: rotate(-19.628deg);
bottom: 35px;
left: 104px;


}
.discount h3{
    color: #FFF;

font-family: Mulish;
font-size: 21.138px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
  

/* ----------responsive start */

hr{
    width: 100%;
}
  }